{% extends 'base.html.twig' %}

{% block body %}
    {% include 'title.html.twig' with {} only %}
    <h2>
        {{ 'Pets list'|trans }}
        {% if s %}
            : <span class="text-muted">{{s}}</span>
        {% endif %}
    </h2>
    {% if pets|length < 1 %}
        {{ 'Not found pets'|trans }}
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>{{ 'Chip' | trans }}</th>
                        <th>{{ 'Firstname' | trans }}</th>
                        <th>{{ 'Type' | trans }}</th>
                        <th>{{ 'Gender' | trans }}</th>
                        <th>{{ 'Kind' | trans }}</th>
                        <th>{{ 'Record date' | trans }}</th>
                        <th>{{ 'Humano' | trans }}</th>
                        <th>{{ 'Actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td><a href="{{ path('pet_show', { 'id': pet.id }) }}">{{ pet.chip }}</a></td>
                        <td>{{ pet.firstname }}</td>
                        <td>{{ pet.typeName|trans }}</td>
                        <td>{{ pet.genderName|trans }}</td>
                        <td>{{ pet.kind }}</td>
                        <td>{% if pet.createdAt %}{{ pet.createdAt|date(format_date) }}{% endif %}</td>
                        <td>{{ pet.human }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('pet_edit', { 'id': pet.id }) }}">{{ 'edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('pet_delete', { 'id': pet.id }) }}">{{ 'delete'|trans }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
