{% extends 'base.html.twig' %}

{% block body %}
{% include 'title.html.twig' with {} only %}
    <h2>{{'Pet creation'|trans}}</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{'Create'|trans}}" class="btn btn-primary">
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('pet_index') }}">{{'Back to the list'|trans}}</a>
        </li>
    </ul>
{% endblock %}
